@import "./consts.scss";

.welcome-banner {
    // background-color: #FF9A8B;
    // background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    background-color: #F65E39;
background-image: linear-gradient(225deg, #F65E39 0%, #F68938 50%, #F65E39 100%);


  padding: 3rem 0 5rem;
  color: #fff;

  @media screen and (min-width: $sm) {
    padding: 3rem 0;
  }

  &__title {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;

    @media screen and (min-width: $sm) {
      font-size: 1.5rem;
      line-height: 2.25rem;
      margin-bottom: 0.625rem;
    }
  }

  &__desc {
    font-size: 0.95rem;
    margin: 0;

    @media screen and (min-width: $sm) {
      font-size: 1.125rem;
    }
  }
}
